# run `docker compose up` in CLI, to run, but don't click on the localhost link
# instead, open your browser and go to http://localhost:8000/docs to see interface
# after running, run `docker compose down` to stop the container

services:
  api:
    build: .
    container_name: forwardair-fastapi
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped
